@font-face {
  font-family: "Jost";
  src: local("0"), url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("0"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("0"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels-Bold";
  src: local("0"), url("../fonts/TTTravels-Bold.woff") format("woff"), url("../fonts/TTTravels-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels-Demibold";
  src: local("0"), url("../fonts/TTTravels-DemiBold.woff") format("woff"), url("../fonts/TTTravels-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels-Medium";
  src: local("0"), url("../fonts/TTTravels-Medium.woff") format("woff"), url("../fonts/TTTravels-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTTravels-Regular";
  src: local("0"), url("../fonts/TTTravels-Regular.woff") format("woff"), url("../fonts/TTTravels-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "TTTravels-Regular";
}

a {
  color: inherit;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
  padding: 1.2rem 2.5rem;
  background-color: #FFDC42;
  color: #fff;
  border-radius: 20px;
  font-family: "TTTravels-Demibold";
  font-size: 2rem;
  color: #191919;
  cursor: pointer;
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
  -webkit-transition: translate 0.3s ease-in-out;
  transition: translate 0.3s ease-in-out;
}
.btn-connect:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #ffd729;
}

.burger-menu {
  padding: 2.6rem 2rem 4.5rem;
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
  background-color: #191919;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: #fff;
  -webkit-transition: visibility 2s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: visibility 2s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, visibility 2s ease-in-out;
  transition: transform 1s ease-in-out, visibility 2s ease-in-out, -webkit-transform 1s ease-in-out;
}
.burger-menu .burger-close {
  position: absolute;
  background-color: transparent;
  right: 3rem;
  top: 4rem;
}
.burger-menu__logo {
  margin-bottom: 3.5rem;
}
.burger-menu__logo a img {
  width: 244px;
  height: 49px;
}
.burger-menu__list {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.burger-menu__item {
  margin-bottom: 4rem;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  -webkit-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}
.burger-menu__item:hover {
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.5);
}
.burger-menu__btn {
  margin-bottom: 4.5rem;
}
.burger-menu__green-bg {
  background-color: #70A452;
}
.burger-menu .yellow-block--burger {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 auto !important;
  width: 80% !important;
}

.header {
  background-color: #70A452;
  min-height: 100vh;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.8rem 0;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  font-size: 1.8rem;
}
.header__item {
  color: #fff;
  line-height: 1.5;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__item:hover {
  border-bottom: 0.1rem solid white;
  opacity: 1;
}
.header__logo {
  width: 30.5rem;
  height: 6.5rem;
}
.header__logo .logo {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__btn-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.header .yellow-block {
  background-color: #FFDC42;
  border-radius: 8rem;
  width: 100%;
  min-height: 67vh;
}
.header__content {
  overflow: hidden;
  background-image: url("../images/planet.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-columns: 11.6rem;
     -moz-columns: 11.6rem;
          columns: 11.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4.3rem;
  padding-left: 9.4rem;
  padding-bottom: 0;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 58.5rem;
}
.header__slogan {
  color: #010101;
  font-family: "TTTravels-Medium";
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin-bottom: 5rem;
}
.header .how {
  height: 5.4rem;
  text-align: center;
  border: 0.1rem solid #010101;
  border-radius: 2rem;
  padding: 2rem 3.5rem;
}
.header__title {
  font-family: "TTTravels-Bold";
  font-size: 5.5rem;
  margin-bottom: 8rem;
  text-transform: uppercase;
  line-height: 1.3;
}
.header__img {
  max-width: 63.7rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}
.header__img:hover {
  scale: 1.02;
}
.header .phone {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.06rem;
}
.header .white-btn {
  min-width: 32rem;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 2rem;
  font-family: "TTTravels-Bold";
  font-size: 1.6rem;
  line-height: 1.8;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.header .white-btn:hover {
  opacity: 1;
}
.header .white-btn p {
  text-align: left;
}
.header .white-btn img {
  margin-right: 2rem;
  float: left;
}
.header .white-btn span {
  text-transform: uppercase;
  font-size: 2rem;
}
.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.7rem;
  cursor: pointer;
  display: none;
  background-color: transparent;
}
.header__burger span {
  width: 4rem;
  height: 0.4rem;
  background-color: #FFDC42;
  border-radius: 0.5rem;
}
.header__burger span:nth-child(2) {
  width: 2.4rem;
}

main {
  background-color: #fff;
}

.title {
  font-family: "TTTravels-Bold";
  font-size: 4rem;
  line-height: 1.3;
  color: #191919;
  margin-bottom: 4.5rem;
  position: relative;
  padding-bottom: 27px;
}
.title span {
  color: #70A452;
}
.title::after {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 0.2rem;
  top: 100%;
  left: 0;
  background-image: url("../images/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__inner {
  padding: 13rem;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 76.2rem 83.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 2.7rem;
}
.about__inner2 .about__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.about__inner2 .about__content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.about__text {
  font-size: 2.2rem;
  line-height: 1.65;
  margin-bottom: 6rem;
}
.about__sub {
  font-size: 1.8rem;
  line-height: 1.65;
  color: #70A452;
  padding-left: 9rem;
  max-width: 67.3rem;
  position: relative;
}
.about__sub::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 65px;
  height: 63px;
  background-image: url("../images/sub-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__img img {
  -webkit-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}
.about__img img:hover {
  scale: 1.1;
}

.servers__inner {
  background-color: #70A452;
  padding: 10rem 0;
  margin-bottom: 13rem;
}
.servers__title {
  margin-bottom: 4.5rem;
  text-align: center;
  color: #fff;
}
.servers__title span {
  color: #FFDC42;
}
.servers__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 12rem;
  height: 0.3rem;
  top: 100%;
  left: 47%;
  background-image: url("../images/line-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.servers__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}
.servers__img img {
  display: block;
  height: 11.2rem;
}
.servers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  color: #fff;
  font-size: 2.2rem;
}
.servers__text {
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 7rem;
  line-height: 1.65;
}

.safe__inner {
  margin-bottom: 12rem;
}
.safe__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.safe__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.6rem;
}
.safe__social .yellow-btn {
  background-color: #FFDC42;
  width: 30rem;
  color: #191919;
  font-family: "TTTravels-Bold";
  font-size: 1.6rem;
  line-height: 1.8;
  border-radius: 2rem;
  padding: 2rem 4rem;
}
.safe__social .yellow-btn:hover {
  background-color: #ffd729;
}
.safe__social img {
  margin-right: 2rem;
  width: 6.2rem;
  height: 6.1rem;
  float: left;
}
.safe__social span {
  text-transform: uppercase;
}
.safe__title {
  max-width: 50rem;
}
.safe__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4.2rem;
     -moz-column-gap: 4.2rem;
          column-gap: 4.2rem;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.safe__item {
  background-color: #70A452;
  min-width: 35rem;
  border-radius: 2.5rem;
  padding: 5rem 4rem;
  scroll-snap-align: start;
}
.safe__subtitle {
  font-family: "TTTravels-Bold";
  font-size: 3rem;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 6rem;
}
.safe__subtitle img {
  float: left;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  vertical-align: middle;
  margin-right: 3rem;
}
.safe__text {
  color: #fff;
  line-height: 1.65;
  font-size: 2.2rem;
}

.faq__title {
  margin-bottom: 4.5rem;
  text-align: left;
  color: #fff;
}
.faq__title span {
  color: #FFDC42;
}
.faq__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 12rem;
  height: 0.3rem;
  top: 100%;
  left: 0;
  background-image: url("../images/line-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.faq__inner {
  background-color: #70A452;
  padding: 13rem 20rem;
  margin-bottom: 13rem;
}
.faq__grid {
  display: grid;
  grid-template-columns: 70rem 70rem;
  -webkit-column-gap: 10.2rem;
     -moz-column-gap: 10.2rem;
          column-gap: 10.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 3.8rem;
  margin-bottom: 3.8rem;
}
.faq details summary::-webkit-details-marker {
  display: none;
}
.faq__title-faq {
  font-family: "TTTravels-Bold";
  font-size: 2.3rem;
  color: #fff;
  padding-right: 32.5rem;
  cursor: pointer;
}
.faq__body {
  font-size: 2rem;
  line-height: 1.3;
  color: #FFDC42;
  border-bottom: 0.1rem solid #fff;
  padding-bottom: 3.8rem;
  margin-bottom: 3.8rem;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
.faq__indicator {
  display: block;
  width: 3rem;
  height: 0.1rem;
  background-color: #FFDC42;
  position: relative;
}
.faq__indicator::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: #FFDC42;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.faq__item .accordeon[open] .faq__indicator::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: #FFDC42;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.bottom__inner {
  margin-bottom: 13rem;
}
.bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11.1rem;
     -moz-column-gap: 11.1rem;
          column-gap: 11.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.3rem 9.4rem 0;
}
.bottom__title {
  font-family: "TTTravels-Bold";
  font-size: 4rem;
  line-height: 1.4;
}
.bottom__title span {
  text-transform: uppercase;
  color: #191919;
}
.bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.6rem;
}
.bottom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  width: 32rem;
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 2rem;
  font-family: "TTTravels-Bold";
  font-size: 1.6rem;
  line-height: 1.8;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.bottom-btn:hover {
  opacity: 1;
}
.bottom__img {
  max-width: 63.7rem;
  -ms-flex-item-align: end;
      align-self: end;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
}
.bottom__img:hover {
  scale: 1.02;
}
.bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  margin-bottom: 8rem;
}
.bottom__item {
  color: #191919;
  font-family: "TTTravels-Bold";
  font-size: 2.5rem;
  line-height: 1.4;
  padding-left: 6.5rem;
  position: relative;
}
.bottom__item::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 4rem;
  height: 4rem;
  background-image: url(../images/gala.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bottom .yellow-block {
  background-color: #FFDC42;
  border-radius: 8rem;
  width: 100%;
  min-height: 67rem;
}

.footer__inner {
  background-color: #191919;
}