@media (max-width: 1350px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__img {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 1220px) {
  .burger-menu.burger-menu--active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
  .header__list {
    display: none;
  }
  .header__btn {
    display: none !important;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 730px) {
  .header__logo .header__logo-link .logo {
    width: 20rem;
  }
  .header__nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    max-width: 100%;
  }
  .header__social .white-btn {
    padding: 1.5rem 8rem;
  }
  .header__title {
    font-size: 2.5rem;
    max-width: 26.6rem;
    line-height: 1.3;
    margin-bottom: 3rem;
  }
  .header__slogan {
    margin-bottom: 2.5rem;
  }
  .header__slogan .how {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    height: 3.8rem;
  }
  .header__img .phone {
    max-width: 30.7rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 463px) {
  .header .yellow-block {
    border-radius: 2.5rem;
  }
  .header__slogan {
    gap: 0.8rem;
    padding: 1.5rem;
  }
  .header__social .white-btn {
    padding: 0.8rem;
    font-size: 1.2rem;
  }
  .header__social .white-btn span {
    font-size: 1.6rem;
  }
}
@media (max-width: 1740px) {
  .about__inner {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__inner2 .about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__inner2 .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 890px) {
  .about__inner {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__inner1 .about__img, .about__inner2 .about__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__inner1 .about__img img, .about__inner2 .about__img img {
    max-width: 40rem;
  }
  .about__inner1 .about__content, .about__inner2 .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 700px) {
  .phone {
    width: 50rem;
  }
  .about__inner {
    grid-template-columns: 1fr;
    padding: 4rem;
  }
  .about__inner1 .about__img img, .about__inner2 .about__img img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 40rem;
  }
  .about__inner1 .about__content, .about__inner2 .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about .title {
    font-size: 2.2rem;
  }
  .about__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .about__sub {
    padding-left: 0;
    padding-top: 9rem;
  }
  .about__sub::after {
    top: 0;
    left: 0;
  }
}
@media (max-width: 450px) {
  .phone {
    width: 36rem;
  }
  .about__inner {
    grid-template-columns: 1fr;
  }
  .about__inner1 .about__img img, .about__inner2 .about__img img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 30.5rem;
  }
  .about__inner1 .about__content, .about__inner2 .about__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 700px) {
  .servers__title::after {
    content: "";
    left: 40%;
  }
  .servers__text {
    font-size: 1.6rem;
  }
  .servers .title {
    font-size: 2.2rem;
  }
  .servers__img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1420px) {
  .safe__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .safe__article {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .safe__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .safe__item {
    padding: 2rem;
  }
  .safe__subtitle {
    font-size: 1.8rem;
    margin-bottom: 7rem;
  }
  .safe__subtitle img {
    width: 8rem;
    height: 8rem;
    margin-right: 3rem;
  }
  .safe__text {
    font-size: 1.6rem;
  }
}
@media (max-width: 700px) {
  .safe__title {
    font-size: 2.2rem;
  }
}
@media (max-width: 1715px) {
  .faq__grid {
    grid-template-columns: 70rem;
  }
  .bottom__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1100px) {
  .faq__grid {
    grid-template-columns: 35rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .faq__inner {
    padding: 6.5rem 2rem;
  }
  .faq__title-faq {
    padding-right: 0;
  }
  .bottom .yellow-block {
    border-radius: 2.5rem;
  }
  .bottom__title {
    font-size: 2.2rem;
  }
  .bottom__item {
    font-size: 1.8rem;
  }
  .bottom__content {
    padding: 4rem 1.2rem 0;
  }
  .bottom__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}